.form-wrapper {
  form {
    padding-left: 32px;
    display: grid;
    gap: 16px;
    border-left: 2px solid $green;

    li, strong {
      font-size: 14px;
      line-height: 21px;
      color: $text;
    }

    input:not([type="submit"]),
    select,
    textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 8px 0;
      border: none;
      border-bottom: 1px solid $text;
      font-size: 16px;
      color: $grey;
      
      &::placeholder {
        color: $text;
      }
    }

    textarea {
      height: 108px;
    }

    input[type="submit"] {
      justify-self: flex-start;
      display: inline-block;
      padding: 16px 32px;
      margin-top: 32px;
      background-color: #fff;
      box-shadow: 0 0 32px rgba(0, 0, 0, .15);
      border-radius: 4px;
      transition: .5s color ease, .5s background-color ease;
      color: $green;
      font-size: 14px;
      font-weight: bolder;
      letter-spacing: .05rem;
      text-align: center;
      text-transform: uppercase;
      border: none;

      &:hover {
        background-color: $green;
        color: #fff;
      }
    }

    h3 {
      display: flex;
      align-items: center;
      gap: 16px;
      color: $green;
    }

    .cleaningType {
      input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
      }

      .wpcf7-list-item {
        margin: 0;
      }
  
      .wpcf7-list-item-label {
        position: relative;
        display: block;
        width: 48px;
        height: 26px;
        background-color: #ddd;
        border-radius: 32px;
        cursor: pointer;
  
        transition: 0.15s background-color linear;

        &::before {
          content: '';
          position: absolute;
          left: 4px;
          top: 50%;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          transform: translate3d(0, -50%, 0);
          background-color: #fff;

          transition: 0.15s left linear;
        }

        &.active {
          background-color: $green;

          &::before {
            left: calc(100% - 24px);
          }
        }
      }
    }

    .form-content-wrapper {
      display: none;
      gap: 16px;
      margin-bottom: 32px;

      &.active {
        display: grid;
      }
    }
  }
}