.inside-parallax {
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
  
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}
