.toastify {
  position: fixed;
  top: 90px;
  right: 32px;
  max-width: 240px;
  display: flex;
  padding: 16px;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $green;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, .1);
  transform: translate3d(0, -32px, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  transition: .3s transform, .3s opacity, .3s visibility;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &.error {
    background-color: #bb3333;
  }

  strong, span {
    display: block;
    color: #fff;
    text-align: center;
  }
}
