.about {
  position: relative;
  padding: 64px 0;

  &.about-history {
    z-index: 2;
  }

  &.about-mission {
    background-color: $lightGrey;
  }

  .container {
    display: grid;
    gap: 32px;
  }

  .about-logo {
    position: absolute;
    bottom: -64px;
    left: -64px;
    width: 100%;
    z-index: -1;
  }
}

.about-history-img,
.about-mission-img {
  position: relative;
  width: 100%;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    left: -16px;
    width: 100%;
    height: 100%;
    background-color: $lightGrey;
    z-index: -1;
  }

  img {
    width: 100%;
  }
}

.about-mission-img::before {
  left: 16px;
  background-color: #EEEEEE;
}

.about-history-text,
.about-mission-text {
  h2 {
    margin-bottom: 16px;
  }

  div {
    padding-left: 16px;
  }
}

.about-history-text {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 96px;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: $green;
  }
}

.about-mission-text {
  grid-row: 2;
}

@media screen and (min-width: 768px) {
  .about {
    padding: 128px 0;
  
    .container {
      gap: 64px;
      grid-template-columns: 1fr 1fr;
    }

    .about-logo {
      position: absolute;
      bottom: -16px;
      left: -32px;
      width: 360px;
      z-index: -1;
    }
  }

  .about-history-text {  
    &::before {
      top: 156px;
    }
  }
    
  .about-mission-text {
    grid-row: unset;
  }

  .about-history-img,
  .about-mission-img {
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .about {
    .container {
      gap: 128px;
    }

    .about-logo {
      width: 480px;
    }
  }

  .about-history-text {  
    &::before {
      height: 110%;
    }
  }

  .about-history-text,
  .about-mission-text {
    h2 {
      margin-bottom: 32px;
    }
  
    div {
      padding-left: 48px;
    }
  }

  .about-history-img::before {
      top: 48px;
      left: -48px;
  }
  
  .about-mission-img::before {
    top: 48px;
    left: 48px;
  }
}
