.banner {
  position: relative;
  width: 100%;
  padding-top: 80px;
  background-color: $lightGrey;
  z-index: 1;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    z-index: 1;

    .banner-text {
      width: 100%;
  
      h1 {
        font-size: 36px;
      }
  
      p {
        max-width: 280px;
        margin: 4px 0 16px;
      }
    }
  
    .banner-img {
      width: 100%;
    }
  }

  .banner-logo {
    position: absolute;
    top: 260px;
    left: -15vw;
    width: 100vw;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    padding-top: 164px;
  
    .container {
      gap: 64px;
  
      .banner-text {
        width: 100%;
    
        h1 {
          max-width: unset;
          font-size: 48px;
        }
    
        p {
          max-width: 460px;
          margin: 8px 0 32px;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 1050px) {
  .banner {
    height: 100vh;
    padding: 0;
  
    .container {
      height: 100%;
      padding-left: 64px;
      max-width: 1250px;
      display: grid;
      grid-template-columns: 1fr 1.7fr;
      gap: 0;
      align-items: center;
  
      .banner-img {
        width: 100%;
        align-self: flex-end;
      }

      .banner-text {
        width: 100%;
    
        h1 {
          font-size: 52px;
          max-width: unset;
        }
      }
    }

    .banner-logo {
      position: absolute;
      top: unset;
      bottom: -128px;
      left: -5vw;
      width: unset;
      height: 70vh;
      z-index: -1;
    }
  }
}
