.free-estimate {
  width: 100%;
  padding: 128px 0 64px;
}

.form-wrapper {
  display: grid;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .free-estimate .container {
    display: flex;
    justify-content: center;
  }

  .form-wrapper {
    max-width: 640px;
    width: 100%;
    gap: 64px;
  }
}
