.contact-info {
  width: 100%;
  padding: 64px 32px;
  background-color: $lightGrey;
}

.contact-info-itens {
  padding-left: 32px;
  margin-top: 32px;
  display: grid;
  gap: 8px;

  a {
    padding: 8px 0;
    display: grid;
    grid-template-columns: 16px 1fr;
    gap: 16px;
    align-items: center;
    color: $text;

    svg {
      width: 16px;
      height: 16px;
      fill: $green;
    }
  }

  .social-media {
    display: flex;
  }
}

@media screen and (min-width: 1050px) {
  .contact-info {
    position: relative;
    padding: 64px 0;
    padding-left: 96px;
    align-self: flex-start;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50vw;
      height: 100%;
      background-color: $lightGrey;
      z-index: -1;
    }
  }
}
